/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

.color {
    /* Created with https://www.css-gradient.com */
    background-color: #775FC1;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-icons i {
    position: absolute;
    width: 10rem;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    color: #DCDA61;
    font-size: small;
    text-transform: uppercase;
}

/*
.car-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 35px;
    background: red;
    border-radius: 10px;
    box-shadow: #DCDA61;
    margin-top: 20rem;
}
*/